@model IEnumerable<Pagina_Videojuego.Models.Usuario>

@{
    ViewBag.Title = "listadoUsuario";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>LISTADO DE USUARIOS</h2>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_usua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreUsu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaNaci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_usua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreUsu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaNaci)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais)
        </td>
        <td>
            @Html.ActionLink(" ", "editarUsuario", new { id = item.id_usua },
                                                        new { @class = "glyphicon glyphicon-pencil" })
            @Html.ActionLink(" ", "detalleUsuario", new { id = item.id_usua },
                                                new { @class = "glyphicon glyphicon-plus-sign" })
            @Html.ActionLink(" ", "eliminarUsuario", new { id = item.id_usua },
                                                    new { @class = "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
