@model IEnumerable<Pagina_Videojuego.Models.Pelicula>
@foreach (var elemento in Model)
{
<section class="lisProdu">
    <img class="listIma" src="@Url.Content(elemento.foto)" />
    <h5>CODIGO: @elemento.idPelicula</h5>
    <h5>NOMBRE: @elemento.nombre</h5>
    <h5>DIRECTOR: @elemento.direct</h5>
    <h5>DURACION: @elemento.duracion</h5>
    <h5>ESTRENO: @elemento.fechaEstreno</h5>
    <h5>PRECIO: @elemento.precio.ToString("0.00")</h5>
    <h5>STOCK: @elemento.stock</h5>
    <h5>GENERO: @elemento.genero</h5>
    <br />
    @Html.ActionLink("COMPRAR", "seleccionaPelicula", new { id = elemento.idPelicula },
                        new { @class = "btn btn-success" })

</section>
}
